<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>close_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,946},{34,38}}</string>
                <key>offset</key>
                <string>{20,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,8},{34,38}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>close_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,946},{64,62}}</string>
                <key>offset</key>
                <string>{18,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>news_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{826,544}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{826,544}}</string>
                <key>sourceSize</key>
                <string>{840,550}</string>
            </dict>
            <key>rate_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,918},{334,86}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{334,86}}</string>
                <key>sourceSize</key>
                <string>{340,100}</string>
            </dict>
            <key>rate_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,918},{228,26}}</string>
                <key>offset</key>
                <string>{21,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,33},{228,26}}</string>
                <key>sourceSize</key>
                <string>{340,100}</string>
            </dict>
            <key>rate_normal_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,228},{224,22}}</string>
                <key>offset</key>
                <string>{21,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,34},{224,22}}</string>
                <key>sourceSize</key>
                <string>{340,100}</string>
            </dict>
            <key>rate_normal_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,860},{228,28}}</string>
                <key>offset</key>
                <string>{21,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,31},{228,28}}</string>
                <key>sourceSize</key>
                <string>{340,100}</string>
            </dict>
            <key>rate_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{334,86}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{334,86}}</string>
                <key>sourceSize</key>
                <string>{340,100}</string>
            </dict>
            <key>rate_pressed_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,890},{228,26}}</string>
                <key>offset</key>
                <string>{21,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,33},{228,26}}</string>
                <key>sourceSize</key>
                <string>{340,100}</string>
            </dict>
            <key>rate_pressed_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{224,22}}</string>
                <key>offset</key>
                <string>{21,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,34},{224,22}}</string>
                <key>sourceSize</key>
                <string>{340,100}</string>
            </dict>
            <key>rate_pressed_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,830},{228,28}}</string>
                <key>offset</key>
                <string>{21,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,31},{228,28}}</string>
                <key>sourceSize</key>
                <string>{340,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainscene2-hd.pvr.ccz</string>
            <key>size</key>
            <string>{572,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:742dd3355ebacba7bc8df32e3ae0c3df$</string>
            <key>textureFileName</key>
            <string>mainscene2-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
