<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bottle-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{32,30}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{32,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Bottle00.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Bottle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Bottle11.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,106},{14,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{14,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Bottle12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{14,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,5},{14,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Bottle13.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,52},{12,32}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{12,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Bottle21.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,86},{18,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{18,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Bottle22.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,60},{20,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{20,34}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Bottle23.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,42},{16,36}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{16,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Bottle31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{24,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Bottle32.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,26},{24,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{24,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Bottle33.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{22,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{22,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>PBottle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,140},{14,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{14,16}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>PBottle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,52},{34,32}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{34,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>PBottle11.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,126},{14,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,7},{14,26}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>PBottle12.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,116},{14,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,7},{14,26}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>PBottle13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{12,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,7},{12,26}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>PBottle21.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,122},{16,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,7},{16,28}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>PBottle22.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,132},{14,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,7},{14,28}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>PBottle23.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,86},{16,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{16,28}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>PBottle31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{20,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{20,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>PBottle32.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,82},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{20,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>PBottle33.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,104},{20,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{20,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TBottle.pvr.ccz</string>
            <key>size</key>
            <string>{128,156}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6b66f343dabfd7f02b34e3c566960ab$</string>
            <key>textureFileName</key>
            <string>TBottle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
